## Mini Project 3 Part A

## SQL Movie Database for Movie Popularity Analysis

## 100 Points (will be converted to 10 points)

In this mini-project, you will work with a movie dataset collected by James Gaskin, available at: https://data.world/jamesgaskin/is201movies/workspace/file?filename=MovieList+New.xlsx.

Please load the pre-built SQL database by typing the following command in the terminal:

```bash
mysql -e 'CREATE DATABASE [Your_NetID]_movies;'
mysql [Your_NetID]_movies < movie_user_rating.sql
```

Replace [Your_NetID] with your NetID. For example, if your NetID is `hz333`, you would type:

```bash
mysql -e 'CREATE DATABASE hz333_movies;'
mysql hz333_movies < movie_user_rating.sql
```

Make sure you have the `movie_user_rating.sql` file in the same directory where you are running the above commands.

In the pre-built SQL database, the movie information has been loaded as an SQL table named **movie**. Additionally, randomly generated user information is available in an SQL table named **user**, and user ratings are stored in an SQL table named **rating**.

Your task is to formulate SQL queries in the Jupyter Notebook under the section "Queries to Movies SQL Database" by replacing the line "__Your_SQL_Query_Here__".

The goal of this mini-project is to analyze the movie dataset to understand the popularity of movies based on movie release_date, genre, and user ratings. The obtained results are presented as SQL Tables.

This goal is achieved by solving the following tasks:

- [Find movies titles with certain prefixes](#task-1-find-movie-titles-that-begin-with-the-sort-by-release-date-limit-to-the-latest-10-movies)
- [Find the number of movies released by years](#task-2-find-the-number-of-movies-released-by-years)
- [Identify the number of movies released by genres](#task-3-identify-the-number-of-movies-released-by-genres)
- [Identify the top rated movies by users](#task-4-identify-the-top-rated-movies-by-users)

### Imports and Definitions of helper functions

Please make sure you run the next cell to import the necessary libraries before you start working on the assigned tasks.

In [1]:
from mysql.connector import connect, Error
import time

Please make sure you run the next two cells to define the helper functions before you start working on the assigned tasks.

In [2]:
WAIT_TIME = 10
def connect_to_db(db_name):
    """
    Connect to the database
    IN: db_name, str, the name of the database in MySQL
    OUT: mydb, the database connection
    EXCEPTION: TimeoutError, if the database is not running
    """

    num_of_tries = 0
    while num_of_tries < WAIT_TIME:
        try:
            mydb = connect(host="127.0.0.1", user="root", db=db_name)
            if mydb.is_connected():
                print("Connected")
                break
        except Error as e:
            print(e)

        num_of_tries += 1
        print("Waiting for MySQL to start")
        time.sleep(1)

    if num_of_tries >= WAIT_TIME:
        raise TimeoutError("MySQL is not running")

    return mydb

In [3]:
def do_query(cursor, query):
    """
    Execute a query and print the results
    IN: cursor, the cursor object
        query, the query to be executed
    OUT: res, list[tuple], the results of the query
    """
    cursor.execute(query)
    res = cursor.fetchall()
    print(cursor.column_names)
    for row in res:
        print(row)
    return res

### Connect to Movies SQL Database

To connect to the SQL database, you need to run the following cell. Please make sure you specify your database name correctly.

In [4]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    mydb = connect_to_db("ec1204_movies") # change the database name to your database
    cursor = mydb.cursor()

1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start
1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
Waiting for MySQL to start

TimeoutError: MySQL is not running

### Movies SQL Database Schema

Before you start working on the assigned tasks, it is a good idea to understand the schema of the SQL database by running the next two cells.

In [5]:
def get_table_specification_query(table_name):
    """
    Generate the SQL query to show the table specification
    IN: table_name, str, the name of the table
    OUT: str, the SQL query
    """
    return f"DESC {table_name}"

In [6]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    for table_name in ['movie', 'user', 'rating']:
        print(f'Table: {table_name}')
        query = get_table_specification_query(table_name)
        res = do_query(cursor, query)

Table: movie

NameError: name 'cursor' is not defined

### Sample Data in Movies SQL Database

Before you start working on the assigned tasks, it is a good idea to take a look at a snapshot of the data in the SQL database by running the next two cells.

In [6]:
def get_sample_data_query(table_name, num_rows=5):
    """
    Generate the SQL query to show the sample data
    IN: table_name, str, the name of the table
    OUT: str, the SQL query
    """
    return f"SELECT * FROM {table_name} LIMIT {num_rows}"

In [7]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    for table_name in ['movie', 'user', 'rating']:
        print(f'Table: {table_name}')
        query = get_sample_data_query(table_name)
        res = do_query(cursor, query)

Table: movie

NameError: name 'cursor' is not defined

### Queries to Movies SQL Database

Please replace the line "__Your_SQL_Query_Here__" with your SQL query to solve the assigned tasks.

#### Task 1: Find movie titles that begin with 'The', sort by release date in descending order, and limit to the latest 10 movies

Your query result Table should look like this:

```text
+-------+--------------+
| title | release_date |
+-------+--------------+
| ...   | ...          |
+-------+--------------+
```

In [8]:
def get_latest_movies_by_title_prefix_query(prefix="The", num_rows=10):
    """
    Generate the SQL query to show the latest movies that start with a prefix
    IN: prefix, str, the prefix of the movie title
        num_rows, int, the number of rows to return
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT title, release_date
    FROM movies
    WHERE title LIKE '{prefix}%'
    ORDER BY release_date DESC
    LIMIT {num_rows};
    """

In [9]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_latest_movies_by_title_prefix_query(prefix="A", num_rows=15)
    res = do_query(cursor, query)

NameError: name 'cursor' is not defined

#### Task 2: Find the number of movies released by years

##### Task 2.1: Identify the number of movies released in 2015

Your query result Table should look like this:

```text
+------------+
| num_movies |
+------------+
| ...        |
+------------+
```


Hint: `YEAR(date)` SQL function can be used to extract year from a `date` field.

For example:
```sql
SELECT YEAR(movie.release_date) FROM movie;
```

In [10]:
def get_num_movies_released_in_year_query(year=2015):
    """
    Generate the SQL query to show the number of movies released in a year
    IN: year, int, the year
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT COUNT(*) AS num_movies
    FROM movies
    WHERE YEAR(release_date) = {year};
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_num_movies_released_in_year_query()
    res = do_query(cursor, query)

##### Task 2.2: Identify how many movies were released from 2001 to 2005 (inclusive).

Your query result Table should look like this:

```text
+------------+
| num_movies |
+------------+
| ...        |
+------------+
```

In [11]:
def get_num_movies_released_between_years_query(start_year=2001, end_year=2005):
    """
    Generate the SQL query to show the number of movies released in a interval of years
    IN: start_year, int, the start year
        end_year, int, the end year
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT COUNT(*) AS num_movies
    FROM movies
    WHERE YEAR(release_date) BETWEEN {start_year} AND {end_year};
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_num_movies_released_between_years_query()
    res = do_query(cursor, query)

#### Task 3: Identify the number of movies released by genres

##### Task 3.1: Identify all the movie genres. Sort the genres in alphabetical order.

Your query result Table should look like this:

```text
+-------+
| genre |
+-------+
| ...   |
+-------+
```

In [12]:
def get_all_movie_genres_query():
    """
    Generate the SQL query to show all the movie genres in alphabetical order
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT DISTINCT genre
    FROM movies
    ORDER BY genre ASC;
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_all_movie_genres_query()
    res = do_query(cursor, query)

##### Task 3.2: Identify the top 3 genres with the most number of movies released in 2010.

Your query result Table should look like this:

```text
+-------+-------------+
| genre | num_moivies |
+-------+-------------+
| ...   | ...         |
+-------+-------------+
```

Note: break ties by sorting genres in alphabetical order

In [13]:
def get_top_movie_genres_in_year_query(year=2010, num_genres=3):
    """
    Generate the SQL query to show the top genres with the most number of movies released in a year
    IN: year, int, the year
        num_genres, int, the number of genres to return
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT genre, COUNT(*) AS num_movies
    FROM movies
    WHERE YEAR(release_date) = {year}
    GROUP BY genre
    ORDER BY num_movies DESC, genre ASC
    LIMIT {num_genres};
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_top_movie_genres_in_year_query()
    res = do_query(cursor, query)

#### Task 4: Identify the top rated movies by users

##### Task 4.1: Identify the top 5 highest rated movies of 2017. Keep one decimal place for the computation of average rating.

Your query result Table should look like this:

```text
+-------+------------+
| title | avg_rating |
+-------+------------+
| ...   | ...        |
+-------+------------+
```

Hint: Use `ROUND(num, decimal_places)` function to round off the average rating to one decimal place.

For example:
```sql
SELECT ROUND(AVG(rating.rating, 1) FROM rating;
```

In [14]:
def get_top_movies_in_year_query(year=2017, num_movies=5):
    """
    Generate the SQL query to show the top movies of a year
    IN: year, int, the year
        num_movies, int, the number of movies to return
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT m.title, ROUND(AVG(r.rating), 1) AS avg_rating
    FROM movies m
    JOIN ratings r ON m.movie_id = r.movie_id
    WHERE YEAR(m.release_date) = {year}
    GROUP BY m.title
    ORDER BY avg_rating DESC, m.title ASC
    LIMIT {num_movies};
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_top_movies_in_year_query()
    res = do_query(cursor, query)

#### Task 4.2: Identify the users who have an average rating of at least 8.0 for movies in the years 2010-2015 (inclusive). Sort the users by their name. Keep one decimal place for the computation of average rating.

Your query result Table should look like this:

```text
+----------+------------+
| uname    | avg_rating |
+----------+------------+
| ...      | ...        |
+----------+------------+
```

In [15]:
def get_users_with_high_average_rating_between_years_query(start_year=2010, end_year=2015, min_avg_rating=8.0):
    """
    Generate the SQL query to show the users with high average rating in a range of years
    IN: start_year, int, the start year
        end_year, int, the end year
        min_avg_rating, float, the minimum average rating
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT u.uname, ROUND(AVG(r.rating), 1) AS avg_rating
    FROM users u
    JOIN ratings r ON u.user_id = r.user_id
    JOIN movies m ON r.movie_id = m.movie_id
    WHERE YEAR(m.release_date) BETWEEN {start_year} AND {end_year}
    GROUP BY u.uname
    HAVING avg_rating >= {min_avg_rating}
    ORDER BY u.uname ASC;
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_users_with_high_average_rating_between_years_query()
    res = do_query(cursor, query)

#### Task 4.3: Identify the ratings given by the user `yVIBT711` for movies released in the years 2010-2015 (inclusive). Sort the movies by their release date in ascending order.

Your query result Table should look like this:

```text
+-------+--------+--------------+
| title | rating | release_date |
+-------+--------+--------------+
| ...   | ...    | ...          |
+-------+--------+--------------+
```

Note: break ties by movie title in ascending order.

In [16]:
def get_user_ratings_for_movies_between_years_query(user_name='yVIBT711', start_year=2010, end_year=2015):
    """
    Generate the SQL query to show the ratings given by a user for movies released in a range of years
    IN: user_name, str, the user name
        start_year, int, the start year
        end_year, int, the end year
    OUT: str, the SQL query
    """
    
    return f"""
    SELECT m.title, r.rating, m.release_date
    FROM users u
    JOIN ratings r ON u.user_id = r.user_id
    JOIN movies m ON r.movie_id = m.movie_id
    WHERE u.uname = '{user_name}'
      AND YEAR(m.release_date) BETWEEN {start_year} AND {end_year}
    ORDER BY m.release_date ASC, m.title ASC;
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_user_ratings_for_movies_between_years_query()
    res = do_query(cursor, query)

#### Task 4.4: Identify the movies released in the same year as the movie `Wonder Woman` and have a higher average rating than `Wonder Woman`. Sort the movies by their average rating in descending order. Keep one decimal place for the computation of average rating.

Your query result Table should look like this:

```text
+-------+------------+
| title | avg_rating |
+-------+------------+
| ...   | ...        |
+-------+------------+
```

Note: break ties by movie title in ascending order.

In [ ]:
def get_movies_higher_rating_than_movie_query(movie_title='Wonder Woman'):
    """
    Generate the SQL query to show the movies released in the same year as a movie and have a higher average rating
    IN: movie_title, str, the movie title
    OUT: str, the SQL query
    """
    
    return f"""
    WITH reference_movie AS (
        SELECT YEAR(m.release_date) AS release_year, ROUND(AVG(r.rating), 1) AS avg_rating
        FROM movies m
        JOIN ratings r ON m.movie_id = r.movie_id
        WHERE m.title = '{movie_title}'
        GROUP BY YEAR(m.release_date)
    )
    SELECT m.title, ROUND(AVG(r.rating), 1) AS avg_rating
    FROM movies m
    JOIN ratings r ON m.movie_id = r.movie_id
    WHERE YEAR(m.release_date) = (SELECT release_year FROM reference_movie)
      AND m.title != '{movie_title}'
    GROUP BY m.title
    HAVING avg_rating > (SELECT avg_rating FROM reference_movie)
    ORDER BY avg_rating DESC, m.title ASC;
    """

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    query = get_movies_higher_rating_than_movie_query()
    res = do_query(cursor, query)

### Note: Do not forget to close the connection to the database.

In [ ]:
if __name__ == "__main__":
    # all code under this block will be executed only when you directly run this Jupyter notebook
    cursor.close()
    mydb.close()